<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/pc.css"/>
    <style type="text/css">
        *{margin:0;padding:0;}
        html,body{width:100%;height:100%;}
        .vcp-controls-panel{ display:none;}
        .vcp-slider{display:none;}
        .starting{width:100%;height:100%;display:none;}
        #videoBox{margin:0 auto;width:1000px;height:800px;}

    </style>
</head>

<body>
<div>
    <div id="videoBox">
        <div id="id_test_video" style="width:100%; height:auto;"></div>
        <div class="headMessage clearfix">
            <!--直播头像房间号等头部信息-->
            <div class="zbMessage clearfix">
                <div class="zbHead">
                    <img id="headUrl" src="" alt="头像"/>
                    <!--  <img src="images/head2.jpg" alt=""/>-->
                    <div class="zuxs"></div>
                </div>
                <div class="zbId">
                    <div class="zbName"></div>
                    <div class="gzNumber"></div>
                </div>
                <!--关注-->
                <div class="zbFocus" id="zbFocus" ng-click="downHrefs()"></div>
            </div>
            <!--头像列表-->
            <div class="headbox">
                <div class="headI"></div>
                <div class="headIcons">
                    <ul class="headIconsIn">
                        <li ng-repeat="s in headlistData" >
                            <img src="{{s.src}}" alt=""/>
                            <div class="zlis">
                                <img src="{{s.zjsrc}}" alt="等级"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--底板的板块-->
        <div class="footer">
            <!--底部发送聊天-->
            <div class="chat">
                <div class="chatbox" id="chatbox" ng-click="downHrefs()">聊聊天...</div>
                <ul class="giftbox">
                    <li class="gifbut" id="gifbut" ng-click="downHrefs()"></li>
                    <li></li>
                </ul>
                <!--评论的板块-->
                <div class="plbox" style="overflow:hidden;">
                    <!-- <marquee  direction=up scrolldelay="1000">-->
                    <ul class="comments">
                        <li class="clearfix">
                            <span class="chatIcon">20</span>
                            <span class="chatName">愤怒的麻豆:</span>
                            <span class="chatContent">主播在发呆吗?</span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">59</span>
                            <span class="chatName">小豆芽:</span>
                            <span class="chatContent">分享了主播的直播</span>
                        </li>
                        <li class="clearfix">

                            <span class="chatName">白水煮鸡蛋:</span>
                            <span class="admin">被设为管理员</span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">59</span>
                            <span class="chatName">小豆芽:</span>
                                                <span class="chatContent">
                                                  <span class="it">@开黑</span>
                                                  <span>你这是在干啥</span>
                                                </span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">20</span>
                            <span class="chatName">愤怒的麻豆:</span>
                            <span class="chatContent">4</span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">59</span>
                            <span class="chatName">小豆芽:</span>
                            <span class="chatContent">3</span>
                        </li>
                        <li class="clearfix">

                            <span class="chatName">白水煮鸡蛋:</span>
                            <span class="admin">2</span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">1</span>
                            <span class="chatName">小豆芽:</span>
                                                <span class="chatContent">
                                                  <span class="it">@开黑</span>
                                                  <span>1</span>
                                                </span>
                        </li>
                        <li class="clearfix">
                            <span class="chatIcon">1</span>
                            <span class="chatName">小豆芽:</span>
                                                <span class="chatContent">
                                                  <span class="it">@开黑</span>
                                                  <span>1</span>
                                                </span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--底部下载小草-->
            <div class="download" id="download">
                <span id="downloadLeft"></span>
                <a id="downloadRight" href="http://www.xiuktv.com/"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script src="//imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer.js" charset="utf-8"></script>
<script src="js/angular.js"></script>


<script><!--
    //获取屏幕的高度
    var winH=document.documentElement.clientHeight||document.body.clientHeight;
    var OvideoBox=document.getElementById("id_test_video");
   
    OvideoBox.style.height=winH+"px";
    //获取网址上的参数
    //获取网址上的参数
    function parameter(){
        var url=document.location.href;
        //  var url="http://www.xiuktv.com/xcbb_web/h5Activity/getSharePageInfo?zid=10004125&uid=10004122&type=1&sex=1&page=1&pageSize=100&token=123&province=111&nice=小辣"
        var obj={};
        var tem=[];
        var ary=url.split("?")[1].split("&");
        for(var i=0;i<ary.length;i++){
            var cur=ary[i];
            tem= cur.split("=");
            obj[tem[0]]=tem[1];
        }
        return obj;
    }
    
    //判断域名

    var ymname="";
    if(parameter().ym=="1"){
    	ymname="http://www.xcbobo.com";
    	ymnamePho="http://image.xcbobo.com";
    }else{
    	ymname="http://www.xiuktv.com";
    	ymnamePho="http://www.xiuktv.com";
    }
    
    var zid=parameter().zid;
    var uid=parameter().uid;
    var sex=parameter().sex;
    var province=parameter().province;
    var type=parameter().type;
    var name=decodeURI(parameter().name);
    var strUrl=ymname+"/xcbb_web/h5Activity/getSharePageInfo?zid="+zid+"&uid="+uid+"&type="+type;
   
    //昵称
    $(".zbName").html(name);
    $.ajax({
        type: "get",
        dataType: "json",
        url: strUrl,

        success: function (data) {
            if (data != "") {
              
                var islive = data.isLive;
                /*在直播中的时候关注的人数*/
                var gzNum=data.num+"人";
                var rtmburl=data.rtmburl;
                //头像
                var headUrl=ymnamePho+"/PubImgSour/"+data.photo+".png";
                $("#headUrl").attr("src",headUrl);
                
               
                //初始化播放器
                var option={
                    "m3u8":rtmburl, //请替换成实际可用的播放地址
                    "x5-video-player-type":"h5",
                    "x5_fullscreen":"true",
                    "autoplay" : true,      //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
                    "coverpic" : "http://www.test.com/myimage.jpg",
                    "width" :  1000,//视频的显示宽度，请尽量使用视频分辨率宽度
                    "height" : winH||800//视频的显示高度，请尽量使用视频分辨率高度

                }
                var player = new TcPlayer('id_test_video',option );


                /*$(".gzNumber").html(gzNum)*/;
                $(".gzNumber").html("678");
            }
        }
    });




</script>


