body{position:relative;}
#logo{width:68px;height:68px;left:50%;top:50%;margin-left:-34px;margin-top:-34px;position:absolute;}
.loadNum{position:absolute;width:68px;text-align:center;left:0px;bottom:-30px;height:30px;line-height:30px;font-size:12px;}